.center {
  margin: 0 auto;
  text-align: center;
}

.prepend-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 40px;
}

.prepend-top {
  margin-top: 10px;
}
.prepend-bottom {
  margin-bottom: 10px;
}

.login {
  background: #c9c9c9;
}

.box {
  background: #fff;
}
