.center {
  margin: 0 auto;
  text-align: center;
}

.prepend-right {
  margin-right: 10px;
}

.prepend-top {
  margin-top: 10px;
}

.login {
  background: #c9c9c9;
}

.box {
  background: #cfcfcf;
}
